//https://drive.google.com/drive/folders/145dktpexw4pehPYVb5pmrpqv0JV8qWLl

@import "includes/base";
@import "includes/bs-grid/grid";
@import "includes/variables";

:root {
    --color1: #1fcb7b;
    --color2: #fefefe;
    --color3: #233b53;
}


@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerUltraLight.eot');
    src: local('Muller UltraLight'), local('MullerUltraLight'),
        url('../fonts/MullerUltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerUltraLight.woff2') format('woff2'),
        url('../fonts/MullerUltraLight.woff') format('woff'),
        url('../fonts/MullerUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBoldItalic.eot');
    src: local('Muller Bold Italic'), local('MullerBoldItalic'),
        url('../fonts/MullerBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBoldItalic.woff2') format('woff2'),
        url('../fonts/MullerBoldItalic.woff') format('woff'),
        url('../fonts/MullerBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.eot');
    src: local('Muller Medium'), local('MullerMedium'),
        url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerMedium.woff2') format('woff2'),
        url('../fonts/MullerMedium.woff') format('woff'),
        url('../fonts/MullerMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerExtraBoldItalic.eot');
    src: local('Muller ExtraBold Italic'), local('MullerExtraBoldItalic'),
        url('../fonts/MullerExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/MullerExtraBoldItalic.woff') format('woff'),
        url('../fonts/MullerExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerUltraLightItalic.eot');
    src: local('Muller UltraLight Italic'), local('MullerUltraLightItalic'),
        url('../fonts/MullerUltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerUltraLightItalic.woff2') format('woff2'),
        url('../fonts/MullerUltraLightItalic.woff') format('woff'),
        url('../fonts/MullerUltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.eot');
    src: local('Muller Regular'), local('MullerRegular'),
        url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBlackItalic.eot');
    src: local('Muller Black Italic'), local('MullerBlackItalic'),
        url('../fonts/MullerBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBlackItalic.woff2') format('woff2'),
        url('../fonts/MullerBlackItalic.woff') format('woff'),
        url('../fonts/MullerBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerHairlineItalic.eot');
    src: local('Muller Hairline Italic'), local('MullerHairlineItalic'),
        url('../fonts/MullerHairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerHairlineItalic.woff2') format('woff2'),
        url('../fonts/MullerHairlineItalic.woff') format('woff'),
        url('../fonts/MullerHairlineItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerHeavyItalic.eot');
    src: local('Muller Heavy Italic'), local('MullerHeavyItalic'),
        url('../fonts/MullerHeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerHeavyItalic.woff2') format('woff2'),
        url('../fonts/MullerHeavyItalic.woff') format('woff'),
        url('../fonts/MullerHeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerThinItalic.eot');
    src: local('Muller Thin Italic'), local('MullerThinItalic'),
        url('../fonts/MullerThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerThinItalic.woff2') format('woff2'),
        url('../fonts/MullerThinItalic.woff') format('woff'),
        url('../fonts/MullerThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerHairline.eot');
    src: local('Muller Hairline'), local('MullerHairline'),
        url('../fonts/MullerHairline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerHairline.woff2') format('woff2'),
        url('../fonts/MullerHairline.woff') format('woff'),
        url('../fonts/MullerHairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerHeavy.eot');
    src: local('Muller Heavy'), local('MullerHeavy'),
        url('../fonts/MullerHeavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerHeavy.woff2') format('woff2'),
        url('../fonts/MullerHeavy.woff') format('woff'),
        url('../fonts/MullerHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerThin.eot');
    src: local('Muller Thin'), local('MullerThin'),
        url('../fonts/MullerThin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerThin.woff2') format('woff2'),
        url('../fonts/MullerThin.woff') format('woff'),
        url('../fonts/MullerThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerLightItalic.eot');
    src: local('Muller Light Italic'), local('MullerLightItalic'),
        url('../fonts/MullerLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerLightItalic.woff2') format('woff2'),
        url('../fonts/MullerLightItalic.woff') format('woff'),
        url('../fonts/MullerLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerLight.eot');
    src: local('Muller Light'), local('MullerLight'),
        url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerLight.woff2') format('woff2'),
        url('../fonts/MullerLight.woff') format('woff'),
        url('../fonts/MullerLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBlack.eot');
    src: local('Muller Black'), local('MullerBlack'),
        url('../fonts/MullerBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBlack.woff2') format('woff2'),
        url('../fonts/MullerBlack.woff') format('woff'),
        url('../fonts/MullerBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.eot');
    src: local('Muller Bold'), local('MullerBold'),
        url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff'),
        url('../fonts/MullerBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerExtraBold.eot');
    src: local('Muller ExtraBold'), local('MullerExtraBold'),
        url('../fonts/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerExtraBold.woff2') format('woff2'),
        url('../fonts/MullerExtraBold.woff') format('woff'),
        url('../fonts/MullerExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegularItalic.eot');
    src: local('Muller Regular Italic'), local('MullerRegularItalic'),
        url('../fonts/MullerRegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerRegularItalic.woff2') format('woff2'),
        url('../fonts/MullerRegularItalic.woff') format('woff'),
        url('../fonts/MullerRegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMediumItalic.eot');
    src: local('Muller Medium Italic'), local('MullerMediumItalic'),
        url('../fonts/MullerMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerMediumItalic.woff2') format('woff2'),
        url('../fonts/MullerMediumItalic.woff') format('woff'),
        url('../fonts/MullerMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

body {
    font-family: 'Muller';
}

h1 {
    font-weight: 300;
    text-align: center;
    font-size: 60px;
}

.section2 {
    background: #ededed;
}

.container,
header,
footer {
    max-width: 970px;
    padding: 0;
}

h2 {
    width: 100%;
    text-align: center;
    color: rgb(35, 59, 83);
    font-size: 36px;
    font-weight: normal;
    margin: 35px;
}

.user-info {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 22.8px 1.2px rgba(0, 0, 0, 0.11);
    display: flex;
    padding: 40px;
    margin: 0 auto;
    align-items: flex-start;

    .img {
        width: 37%;
        margin-right: 30px;
        flex-shrink: 0;

        img {
            width: 100%;
        }
    }

    .data {
        display: flex;
        flex-direction: column;

        hr {
            display: none;

        }

        .ul {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px rgb(136, 136, 136) dotted;


            .item {
                min-width: 50%;
                flex-shrink: 0;
                position: relative;
                padding-left: 18px;
                font-weight: normal;
                font-size: 15px;
                color: rgb(35, 59, 83);
                margin-bottom: 23px;

                &:before {
                    position: absolute;
                    content: "";
                    width: 6px;
                    height: 6px;
                    top: 50%;
                    left: 0;
                    background: #d24a43;
                    border-radius: 50%;
                    transform: translateY(-50%);

                }
            }
        }

    }
}

.lg {
    color: (var(--color1));
}

.section1 {
    background: url(../img/bg1.png);
    background-size: cover;
    color: rgb(253, 253, 252);

    .container {
        justify-content: flex-start;
    }

    h1 {
        font-size: 60px;
        text-align: left;
        font-weight: bold;
        line-height: 1.2;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .subh1 {
        font-size: 30px;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 50px;
    }


    .ul {
        padding-left: 35px;

        .item {
            margin-bottom: 40px;
            position: relative;
            font-size: 16px;
            text-align: left;

            &:before {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                top: 50%;
                left: -35px;
                background: (var(--color1));
                border-radius: 50%;
                transform: translateY(-50%);
            }


        }
    }

    .onstar {
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 75px;
    }

    .subform {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        margin-bottom: 55px;
        font-size: 16px;
    }

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .input {
        padding: 15px;
        border: 2px solid rgb(253, 253, 252);
        font-size: 16px;
        background: transparent;
        color: rgb(253, 253, 252);

        &::placeholder {
            color: rgb(253, 253, 252);
        }
    }

    .agree {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;

        input {
            margin-right: 10px;
        }

        a {
            text-decoration: none;
            color: (var(--color1));
            margin: 0 5px;
        }
    }

    button {
        border-radius: 4px;
        background-image: linear-gradient(90deg, rgb(38, 164, 115) 0%, rgb(60, 214, 144) 100%);
        font-size: 18px;
        color: rgb(0, 0, 0);
        padding: 20px 34px;
        margin-left: 20px;
        border: none;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 242px;

    img {
        width: 100%;
    }
}

header,
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    align-items: center;
    padding: 28px 0;
    border-bottom: 1px solid rgb(253, 253, 252);

    .head-text {
        font-size: 14px;
        line-height: 1.2;
    }

    .r {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .email,
    .login {
        font-size: 14px;
        text-decoration: underline;
        line-height: 1.2;
    }

    .b {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;

        .reg {
            font-size: 14px;
            line-height: 1.2;
            padding: 7px 11px;
            border: 2px solid rgb(253, 253, 252);
            margin-left: 15px;
            cursor: pointer;
        }

    }

}