.page.page1
    section.section1
        header
            .logo
                img(src="img/logo.png")
            .head-text Прибыльные сигналы для торговли
                br
                | бинарными опционами
            .r
                .email info@binarysuccess.pro
                .b
                    .login Войти
                    .reg Регистрация
        .container
            h1 Заработай $2 280 за 20 дней
                span.lg *
            .subh1 Прибыльные сигналы для торговли бинарными опционами с 68% верными сделками
            .ul
                .item 68% верных сделок - достоверная статистика, проверьте сами;
                .item Бесплатная подписка на 30 дней;
                .item До 970% прибыли в первый месяц.
            .onstar 
                span.lg * 
                | по результатам работы 3 214 трейдеров, использующих сигналы Trade Signals
            .form
                input.input.getemail(typ='email' placeholder='Введите Ваш e-mail')
                button Получить бесплатный демо-доступ к сигналам
                label.agree
                    input(type='checkbox')
                    | Согласен с 
                    a(href="") правилами сервиса
                    | и 
                    a(href="") политикой конфиденциальности
            .subform Демо-доступ придет вам на e-mail в течение 30 секунд
    section.section2
        .container
            h2 Посмотрите результаты трейдеров,
                br
                | которые работают с сигналами 
                b Trade Signals
            .user-info
                .img 
                    img(src="img/user-info1.png")
                .data
                    .ul
                        .item 
                            b Начальный депозит: 
                            | $10
                        .item 
                            b Опыт работы: 
                            | 10 месяцев
                        .item 
                            b Текущий баланс: 
                            | $19 867
                        .item 
                            b Процент успешных сделок: 
                            | 86%
                        .item 
                            b Средний заработок в месяц: 
                            | $2 800
                    hr
                    .text Хочу поблагодарить Trade Signals за качественные сигналы и внимательное отношение к клиенту. Зная рекламные приемы, я с легкостью могу распознать «сайт-лохотрон». К данному сайту у меня сразу возникло доверие. С меня не требовали оплаты или открытия счета, а предложили бесплатный доступ и ответили на все мои вопросы. Уже два месяца я являюсь подписчиком у ребят.”
                    .name Мария Краснова, менеджер по рекламе
            .users
                .user
                    .img 
                        img(src="img/user1.png") 
                    .name Мария Краснова
                .user
                    .img 
                        img(src="img/user1.png") 
                    .name Мария Краснова
                .user
                    .img 
                        img(src="img/user1.png") 
                    .name Мария Краснова
                .user
                    .img 
                        img(src="img/user1.png") 
                    .name Мария Краснова
                .user
                    .img 
                        img(src="img/user1.png") 
                    .name Мария Краснова
                        
    section.section3
        .container
            h3 Cливаете деньги?
            .text Сотни стратегий...
                br
                |Тысячи индикаторов...
                br
                |В голове полная каша.
                br
                br
                |Из-за постоянных неудач
                br
                | оправдываете себя тем, что бинарные
                br
                | опционы - это лохотрон?
    section.section4
        .container
    section.section5
        .container
    section.section6
        .container
    section.section7
        .container
    section.section8
        .container
    section.section9
        .container
    section.section10
        .container
    section.section11
        .container
    section.section12
        .container
        footer

    