.page.page2
    section.section1
        header
            .logo
                img(src="img/logo.png")
            .head-text Прибыльные сигналы для торговли
                br
                | бинарными опционами
            .r
                .email info@binarysuccess.pro
                .b
                    .login Войти
                    .reg Регистрация

    section.section21
        .container
            h1 
            h3  Регистрация
            .form
                input.input.getfname(typ='text' placeholder='Введите Ваше имя')
                input.input.getlname(typ='text' placeholder='Введите Вашу фамилию')
                input.input.getemail(typ='email' placeholder='Введите Ваш e-mail')
                input.input.getphone(typ='phone' placeholder='Введите телефон')
                button Зарегистрируйтесь
                label.agree
                    input(type='checkbox')
                    | Согласен с 
                    a(href="") правилами сервиса
                    | и 
                    a(href="") политикой конфиденциальности
            .subform Демо-доступ придет вам на e-mail в течение 30 секунд  
    section.section12
        
        footer
            .logo
                img(src="img/logo.png")
            .head-text Прибыльные сигналы для торговли
                br
                | бинарными опционами
            .r
                .email info@binarysuccess.pro
                .email Политика конфиденциальности
                .email Правила и условия сервиса

<!--Plugin CSS file with desired skin-->

    